<form action="/newcomic" method="POST">
  <div class="form-group">
    <label for="comicTitle">Title</label>
    <input id="comicTitle" class="form-control" type="text" name="comicTitle">
  </div>

  <div class="form-group">
    <label for="comicBlog">Blog</label>
    <input id="comicBlog" class="form-control" type="textarea" name="comicBlog">
  </div>

  <div class="form-group">
    <label for="comicLink">image hotlink</label>
    <input id="comicLink" class="form-control" type="text" name="comicLink">
  </div>

  <input class="btn btn-primary" type="submit">
</form>